.title {
	color: rgb(15%,30%,5%);
	font-family: Sylfaen, "Serif Book SC", serif;
}
body{
	background-color: rgb(70%,80%,60%);
	margin-left: 20px;
}
navigation{
		position: absolute;
		left: 83%;
		top:2%;
}
